
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header-nav{
  width: 100%;
    background-color: #999;
    border: 2px solid black;
    border-radius: 0px;

}
.navbar-default .navbar-toggle{
  border: 2px solid black;
}
#nav-list a{
  color: black;
  text-align: center;
}
#nav-list a:hover{
  background-color: #E7E7E7;
}
#nav-list a span{
  font-size:1.3em;
}
.navbar-header button.navbbar-toggle, .navbar-header .icon-bar{
  border: 2px solid black;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: black;
  background-color:white;
  padding: 0px;
}
.navbar-default .navbar-toggle:focus,.navbar-header .icon-bar:hover, .navbar-default .navbar-toggle:hover {
    background-color: #999;
    border: 1px solid white;
}
.navbar-nav{
  margin:0px;
}
hr{
  border: 1px solid black;
  margin:0px;
  padding: 0px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 20px;
  margin: 0px;
  text-align:left;
  padding: 0px;
}

h2 {

  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-family: 'Lora', serif;
}

h4{
  text-align: center;
  font-weight: bold;
  font-family: 'Lora', serif;
}
#oneq{


  background-color: #A9A9A9;
  width: 100%;

  font-family: sans-serif;
  color: BLACK;
}
ul a{
  background: transparent;
}

	p{

    font-size: 12px;
    text-align: left;
    margin-top: 25px;
    font-style: normal;
    padding-left: 10px;
    padding-right: 10px;
}

h5{
 text-align: center;
 text-align: center;
 font-weight: bold;
 font-family: 'Lora', serif;
}

/********** Large devices only **********/
@media (min-width: 1200px) {



}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */


  /* End Header */

  /* Home Page */

  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px)  {
  /* Home Page */
  .navbar-collapse.collapse {
      /* display: block!important; */
      visibility: hidden!important;
      height: auto!important;
      padding-bottom: 0;



  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
